.hero {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.hero-img {
    width: 150px;
    height: 150px;
    margin: 15px 0 5px 0;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 10px);
    }
    100% {
        transform: translate(0, -0px);
    }
}

.hero-subtitle {
    color: #1e293b;
    font-size: var(--XXL-font);
    margin: 10px 0 0 0;
}

.hero-title {
    background: linear-gradient(10deg, var(--secondary) 0%, #94a3b8 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: var(--XXXXL-font);
    letter-spacing: -0.05em;
    line-height: 0.9;
    font-weight: 900;
    margin: 10px 0 0 0;
}

.links {
    font-size: var(--M-font);
    display: flex;
    justify-content: space-between;
    gap: 1.2rem;
    list-style: none;
    margin: 3px 0;
    cursor: pointer;
    padding: 0;
}

.linkedin a, .github a, .insta a {
    opacity: .8;
}

.linkedin a:hover {
    color:  #0a66c2;
}

.light-git a:hover {
    color: #161B22;
}

.dark-git a:hover {
    color: #7e6c6c;
}

.insta a:hover {
    color: #d6249f;
}

.linkedin a:hover, .github a:hover, .insta a:hover {
    opacity: 1;
}

.light a{
    color: #1E293B;
}

.dark a{
    color: #7E8C9F;
}

/* .p-span {
    color: #4F46E5;
    font-family: "General Sans", sans-serif;
    font-size: 25px;
    font-weight: 100;
} */

@media screen and (max-width: 600px) {
    .hero,
    .hero-img,
    .hero-subtitle,
    .hero-title,
    .links {
        margin-top: 25px;
    }

    .hero-img {
        width: 100px;
        height: 100px;
    }

    .hero-subtitle {
        font-size: var(--S-font);
    }

    .hero-title {
        font-size: 53px;
    }

    .links {
        font-size: var(--S-font);
    }
}

@media screen and (min-width: 601px) and (max-width: 980px) {
    .hero-img {
        width: 125px;
        height: 125px;
    }

    .hero-subtitle {
        font-size: var(--L-font);
    }

    .hero-title {
        font-size: 80px;
    }

    .links {
        font-size: var(--M-font);
    }
}

@media screen and (min-width: 981px) and (max-width: 1280px) {
    .hero-img {
        width: 140px;
        height: 140px;
    }

    .hero-subtitle {
        font-size: 35px;
    }

    .hero-title {
        font-size: 110px;
    }

    .links {
        font-size: var(--L-font);
    }
}