.navbar {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    z-index: 2;
}

.title {
    font-size: var(--L-font);
    font-weight: 600;
    text-decoration: none;
    margin: 0 10%;
    color: var(--secondary);
}

.underline-text {
    position: relative;
    text-decoration: none;
}

.underline-text::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--line-hover-pcolor);
    transition: 0.3s ease;
}

.container:hover .underline-text::before {
    width: 100%;
}

.menu {
    display: flex;
}

.closeBtn,
.menuBtn {
    display: none;
}

.light-mode {
    color: var(--secondary);
}

.dark-mode {
    color: var(--primary)
}

.menuItems {
    display: flex;
    list-style: none;
    gap: 41px;
    margin-left: -15%;
}



.menuItems a {
    text-decoration: none;
    /* color: var(--secondary); */
}

.moon-icon {
    color: var(--moon-color);
    cursor: pointer;
    width: 20px;
}

.sun-icon {
    color: var(--sun-color);
    cursor: pointer;
    width: 20px;
}

@media screen and (max-width: 375px) {
    .title,
    .menuBtn,
    .closeBtn {
        font-size: var(--S-font);
    }

    .menuItems {
        font-size: var(--XS-font);
    }

    .sun-icon,
    .moon-icon {
        width: 12px;
    }
}

@media screen and (max-width: 825px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu {
        position: absolute;
        right: 0;
        margin: 0 10%;
        flex-direction: column;
        align-items: flex-end;
        gap: 11px;
        z-index: 3;
    }

    .menuBtn,
    .closeBtn {
        /* color: var(--menu-close-btn); */
        font-size: var(--M-font);
        display: block;
        cursor: pointer;
    }

    .menuItems {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 13px;
        border-radius: 10px;
        /* background-color: var(--menu-background); */
        padding: 10px 10px;
        width: 75vw;
    }

    .menuItems.show {
        display: flex;
    }

    .menuItems.hide {
        display: none;
    }

    .light-color {
        background-color: #dad5cb;
        box-shadow: 0 0 7px 0 rgba(0, 0, 0, 1);
    }
    
    .dark-color {
        background-color: #515359;
        box-shadow: 0 0 7px 0 rgb(255, 255, 255, 1);
    }

    .container:hover .underline-text::before {
        display: none;
    }

    .title {
        font-size: var(--M-font);
    }

    .title:hover,
    .container:hover {
        color: var(--color-primary);
    }
}

/* @media screen and (min-width: 1920px) and (max-width: 3840px) {
    .title {
        font-size: var(--XXL-font);
    }
    .menuItems {
        font-size: var(--XL-font);
    }

    .sun-icon,
    .moon-icon {
        width: 45px;
    }
} */