.navbar {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    z-index: 2;
}

.title {
    font-size: var(--M-font);
    font-weight: 600;
    text-decoration: none;
    margin: 0 5%;
    color: var(--secondary);
}

.underline-text {
    position: relative;
    text-decoration: none;
}

.underline-text::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--line-hover-pcolor);
    transition: 0.3s ease;
}

.container:hover .underline-text::before {
    width: 100%;
}

.menu {
    display: flex;
}

.closeBtn,
.menuBtn {
    display: none;
}

.light-mode {
    color: var(--secondary);
}

.dark-mode {
    color: var(--primary)
}

.menuItems {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 41px;
    margin-left: -15%;
    font-size: 15px;
}

.menuItems a {
    text-decoration: none;
}

.moon-icon {
    color: var(--moon-color);
}

.sun-icon {
    color: var(--sun-color);
}

.moon-icon,
.sun-icon {
    cursor: pointer;
    width: 20px;
    opacity: .8;
}

.moon-icon:hover,
.sun-icon:hover {
    opacity: 1;
}

@media screen and (max-width: 600px) {
    .menuItems {
        font-size: var(--XS-font);
        gap: 30px;
    }

    .sun-icon,
    .moon-icon {
        width: 12px;
    }
}

@media screen and (max-width: 980px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu {
        position: absolute;
        right: 0;
        margin: 0 5%;
        flex-direction: column;
        align-items: flex-end;
        gap: 11px;
        z-index: 3;
    }

    .menuBtn,
    .closeBtn {
        font-size: var(--M-font);
        display: block;
        cursor: pointer;
    }

    .menuItems {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 35px;
        border-radius: 10px;
        padding: 10px 10px;
        width: 80vw;
        height: 77vh;
    }

    .menuItems.show {
        display: flex;
    }

    .menuItems.hide {
        display: none;
    }

    .light-color {
        background-color: #dad5cb;
        box-shadow: 0 0 7px 0 rgba(0, 0, 0, 1);
    }
    
    .dark-color {
        background-color: #515359;
        box-shadow: 0 0 7px 0 rgb(255, 255, 255, 1);
    }

    .container:hover .underline-text::before {
        display: none;
    }

    .title {
        font-size: 22px;
    }

    .title:hover,
    .container:hover {
        color: var(--color-primary);
    }
}