@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1px;
  scroll-behavior: smooth;
}

:root {
  /* ----------- Colors ----------- */
  --primary: #e8eaeb;
  --secondary: #070A13;
  --hover-secondary: #070a138a;
  --hover-primary: #e5e1da8a;
  --scroll-color: #92C7CF;
  --line-hover-pcolor: #DF4C73;
  --sun-color: #f2e638;
  --moon-color: #464541;
  --title-color: #1E293B;
  --subtitle-color: #333A46;
  --btn-color: #dbe4e9;
  --icons-color: #6A7587;
  --icons-color-hover: #474e58;
  /* ----------- Fonts sizes ----------- */
  --XS-font: 12px;
  --S-font: 20px;
  --M-font: 25px;
  --L-font: 30px;
  --XL-font: 45px;
  --XXL-font: 48px;
  --XXXL-font: 70px;
  --XXXXL-font: 150px;
}

body {
  margin: 0;
  background-color: var(--primary);
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--scroll-color);
  outline: 1px solid var(--scroll-color);
}

.up-arrow {
  width: 35px;
  position: fixed;
  bottom: 2rem;
  right: 2%;
  opacity: 0.8;
}

.up-arrow:hover {
  opacity: 1;
}

@media screen and (max-width: 600px) {
  .up-arrow {
    width: 25px;
    opacity: 0.4;
  }

  .up-arrow:hover {
    opacity: 0.6;
  }
}

@media screen and (min-width: 601px) and (max-width: 980px) {
  .up-arrow {
    width: 30px;
    opacity: 0.4;
  }

  .up-arrow:hover {
    opacity: 0.6;
  }
}