@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html {
  font-family: "Roboto", sans-serif;
}

:root {
  /* ----------- Colors ----------- */
  --primary: #E5E1DA;
  --primary-dark: #d8d5d0;
  --secondary: #070A13;
  --hover-secondary: #070a138a;
  --hover-primary: #e5e1da8a;
  --line-hover-pcolor: #92C7CF;
  --sun-color: #f2e638;
  --moon-color: #464541;
  --menu-close-btn: #9290C3;
  --menu-background: rgb(90, 90, 145);
  /* ----------- Fonts sizes ----------- */
  --XS-font: 12px;
  --S-font: 20px;
  --M-font: 25px;
  --L-font: 30px;
  --XL-font: 45px;
  --XXL-font: 48px;
  --XXXL-font: 70px;
  --XXXXL-font: 180px;
}

body {
  margin: 0;
  background-color: var(--primary);
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--line-hover-pcolor);
  outline: 1px solid var(--line-hover-pcolor);
}